.auth-container {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1009%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(110%2c 38%2c 32%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c537.67C98.576%2c519.187%2c151.443%2c414.274%2c218.049%2c339.291C267.92%2c283.148%2c312.752%2c225.233%2c339.77%2c155.168C365.521%2c88.389%2c371.579%2c18.432%2c369.362%2c-53.106C366.9%2c-132.535%2c367.389%2c-214.696%2c326.202%2c-282.656C281.29%2c-356.763%2c208.467%2c-407.391%2c131.053%2c-446.326C41.274%2c-491.479%2c-58.094%2c-554.471%2c-153.894%2c-524.116C-249.703%2c-493.758%2c-278.138%2c-373.952%2c-342.077%2c-296.411C-404.04%2c-221.265%2c-517.573%2c-172.522%2c-523.95%2c-75.333C-530.374%2c22.572%2c-415.507%2c81.921%2c-372.695%2c170.204C-331.319%2c255.525%2c-345.32%2c365.685%2c-277.797%2c432.26C-205.814%2c503.233%2c-99.357%2c556.299%2c0%2c537.67' fill='%23581e1a'%3e%3c/path%3e%3cpath d='M1440 881.704C1503.15 875.144 1564.4279999999999 869.352 1622.88 844.566 1690.881 815.731 1773.249 793.373 1805.27 726.813 1837.32 660.193 1797.505 583.205 1783.545 510.606 1770.286 441.652 1773.45 363.916 1725.608 312.519 1678.141 261.525 1598.196 267.495 1533.408 241.882 1460.259 212.964 1397.057 135.16899999999998 1320.283 152.281 1243.984 169.28699999999998 1216.083 262.609 1167.097 323.528 1120.182 381.872 1042.079 427.522 1038.811 502.318 1035.538 577.219 1117.376 624.972 1150.997 691.983 1182.913 755.595 1171.459 846.226 1230.954 885.2819999999999 1290.419 924.319 1369.248 889.054 1440 881.704' fill='%23842e26'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1009'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cl-internal-180wb59{
  display: none;
}

.cl-formButtonPrimary{
  background-color: #ac1706; 
}
.cl-formButtonPrimary:hover{
  background-color: #6E2620;
}